body{
	
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	
color: #303030;
	background-color: #cbafff;
	
text-shadow: 1px 1px #000002;
	text-align: center;

}



h1 {
	
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	
font-size: 1.3em;
	
text-align: center;
	
text-shadow: 1px 1px #ffffff;

}


td, th {
    
border: 1px solid #936cd1;
    
text-align: left;
    
padding: 8px;

}



tr:nth-child(odd) {
    
background-color: #bc93ff;

}



tr:nth-child(even) {
    
background-color: #bc93ff;

}